{:deps
 {nuid/bn
  {:git/url "git@github.com:nuid/bn",
   :sha "bdc048c25a0c9ec933f3da01961107612251485e"},
  org.clojure/clojurescript {:mvn/version "1.10.520"},
  org.clojure/clojure {:mvn/version "1.10.0"}},
 :aliases
 {:repl
  {:extra-deps
   {nuid/repl
    {:git/url "git@github.com:nuid/repl",
     :sha "4e6d77e2419b38b1e913b1cba65b23fe3c123b52"}}}},
 :paths ["src"]}
