{:deps
 {org.clojure/clojurescript {:mvn/version "1.10.520"},
  org.clojure/clojure {:mvn/version "1.10.0"},
  nuid/exception
  {:git/url "https://github.com/nuid/exception.git",
   :sha "1c07bfac0edef61b37e3516aedbe45fd1e039f07"},
  nuid/base64
  {:git/url "https://github.com/nuid/base64.git",
   :sha "5fc7aaf1b5da2ff2a6c3a2568c97333afbb9fd94"},
  nuid/bytes
  {:git/url "https://github.com/nuid/bytes.git",
   :sha "f370d8fafba2e6862bfd2ed99a33b542c08358ae"},
  nuid/bn
  {:git/url "https://github.com/nuid/bn.git",
   :sha "c31aa87d28fdbe3eee9f67e591246fca74f8d649"}},
 :aliases
 {:cljfmt
  {:extra-deps
   {com.jameslaverack/cljfmt-runner
    {:git/url "https://github.com/JamesLaverack/cljfmt-runner",
     :sha "97960e9a6464935534b5a6bab529e063d0027128"}},
   :main-opts ["-m" "cljfmt-runner.check"]},
  :cljfmt/fix {:main-opts ["-m" "cljfmt-runner.fix"]},
  :depot
  {:extra-deps {olical/depot {:mvn/version "1.8.2"}},
   :main-opts ["-m" "depot.outdated.main"]},
  :depot/update {:main-opts ["-m" "depot.outdated.main --update"]},
  :repl
  {:extra-deps
   {nuid/deps
    {:git/url "https://github.com/nuid/deps.git",
     :sha "804673e41503651a85506cffe217480e7fa2ac83"}}}},
 :paths ["src"]}
