{:deps
 {nuid/bn {:sha "96edf024f2dda3a6afb05071c9349d744d4d8c11"
           :git/url "git@github.com:NuID/bn.git"}
  org.clojure/clojurescript {:mvn/version "1.10.520"}
  org.clojure/clojure {:mvn/version "1.10.0"}}
 :aliases
 {:cambada
  {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.0"}}}}
 :paths ["src"]}
